In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
df=pd.read_csv('netflix_titles.csv')
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [3]:
df.columns = df.columns.str.strip()

In [4]:
#Checking how many rows and columns
df.shape

(8807, 12)

In [5]:
#Information regarding dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [6]:
#Checking for null values
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [7]:
#Which column has the most missing values vs least
df.isna().sum().sort_values(ascending=False)

director        2634
country          831
cast             825
date_added        10
rating             4
duration           3
show_id            0
type               0
title              0
release_year       0
listed_in          0
description        0
dtype: int64

In [8]:
#Percentage of missing values
(df.isna().mean() *100).sort_values(ascending=False)

director        29.908028
country          9.435676
cast             9.367549
date_added       0.113546
rating           0.045418
duration         0.034064
show_id          0.000000
type             0.000000
title            0.000000
release_year     0.000000
listed_in        0.000000
description      0.000000
dtype: float64

In [9]:
#Drop duplicates
df = df.drop_duplicates()

In [10]:
df.shape

(8807, 12)

Cleaning date_added column

In [11]:
#Dropping missing values
df=df.dropna(subset=['date_added'])

In [12]:
df.isna().sum()

show_id            0
type               0
title              0
director        2624
cast             825
country          830
date_added         0
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [13]:
df['date_added'].head(20)

0     September 25, 2021
1     September 24, 2021
2     September 24, 2021
3     September 24, 2021
4     September 24, 2021
5     September 24, 2021
6     September 24, 2021
7     September 24, 2021
8     September 24, 2021
9     September 24, 2021
10    September 24, 2021
11    September 23, 2021
12    September 23, 2021
13    September 22, 2021
14    September 22, 2021
15    September 22, 2021
16    September 22, 2021
17    September 22, 2021
18    September 22, 2021
19    September 22, 2021
Name: date_added, dtype: object

In [14]:
#Fixing date_added
df['date_added'].unique().sum()

'September 25, 2021September 24, 2021September 23, 2021September 22, 2021September 21, 2021September 20, 2021September 19, 2021September 17, 2021September 16, 2021September 15, 2021September 14, 2021September 11, 2021September 10, 2021September 9, 2021September 8, 2021September 7, 2021September 6, 2021September 5, 2021September 4, 2021September 3, 2021September 2, 2021September 1, 2021August 31, 2021August 29, 2021August 28, 2021August 27, 2021August 26, 2021August 25, 2021August 24, 2021August 23, 2021August 21, 2021August 20, 2021August 19, 2021August 18, 2021August 16, 2021August 15, 2021August 13, 2021August 12, 2021August 11, 2021August 10, 2021August 9, 2021August 8, 2021August 7, 2021August 6, 2021August 5, 2021August 4, 2021August 3, 2021August 1, 2021July 31, 2021July 30, 2021July 29, 2021July 28, 2021July 27, 2021July 26, 2021July 24, 2021July 23, 2021July 22, 2021July 21, 2021July 20, 2021July 19, 2021July 17, 2021July 16, 2021July 15, 2021July 14, 2021July 13, 2021July 12, 2021July 10, 2021July 9, 2021July 8, 2021July 7, 2021July 6, 2021July 4, 2021July 3, 2021July 2, 2021July 1, 2021June 30, 2021June 29, 2021June 28, 2021June 26, 2021June 25, 2021June 24, 2021June 23, 2021June 22, 2021June 21, 2021June 20, 2021June 19, 2021June 18, 2021June 17, 2021June 16, 2021June 15, 2021June 14, 2021June 13, 2021June 12, 2021June 11, 2021June 10, 2021June 9, 2021June 8, 2021June 7, 2021June 6, 2021June 5, 2021June 4, 2021June 3, 2021June 2, 2021May 31, 2021May 30, 2021May 29, 2021May 28, 2021May 27, 2021May 26, 2021May 25, 2021May 24, 2021May 23, 2021May 22, 2021May 21, 2021May 20, 2021May 19, 2021May 18, 2021May 16, 2021May 15, 2021May 14, 2021May 13, 2021May 12, 2021May 11, 2021May 10, 2021May 9, 2021May 8, 2021May 7, 2021May 6, 2021May 5, 2021May 4, 2021May 1, 2021April 30, 2021April 29, 2021April 28, 2021April 27, 2021April 24, 2021April 23, 2021April 22, 2021April 21, 2021April 20, 2021April 19, 2021April 17, 2021April 16, 2021April 15, 2021April 14, 2021April 13, 2021April 12, 2021April 11, 2021April 10, 2021April 9, 2021April 8, 2021April 7, 2021April 6, 2021April 5, 2021April 4, 2021April 3, 2021April 2, 2021April 1, 2021March 31, 2021March 30, 2021March 29, 2021March 28, 2021March 26, 2021March 25, 2021March 24, 2021March 23, 2021March 22, 2021March 20, 2021March 19, 2021March 18, 2021March 17, 2021March 16, 2021March 15, 2021March 14, 2021March 12, 2021March 11, 2021March 10, 2021March 9, 2021March 8, 2021March 6, 2021March 5, 2021March 4, 2021March 3, 2021March 2, 2021March 1, 2021February 28, 2021February 26, 2021February 25, 2021February 24, 2021February 23, 2021February 22, 2021February 21, 2021February 20, 2021February 19, 2021February 18, 2021February 17, 2021February 16, 2021February 15, 2021February 14, 2021February 13, 2021February 12, 2021February 11, 2021February 10, 2021February 9, 2021February 8, 2021February 7, 2021February 6, 2021February 5, 2021February 3, 2021February 2, 2021February 1, 2021January 31, 2021January 29, 2021January 28, 2021January 27, 2021January 26, 2021January 22, 2021January 21, 2021January 20, 2021January 19, 2021January 18, 2021January 16, 2021January 15, 2021January 14, 2021January 13, 2021January 12, 2021January 11, 2021January 8, 2021January 7, 2021January 6, 2021January 5, 2021January 4, 2021January 3, 2021January 2, 2021January 1, 2021December 31, 2020December 30, 2020December 28, 2020December 27, 2020December 26, 2020December 25, 2020December 24, 2020December 23, 2020December 22, 2020December 21, 2020December 20, 2020December 19, 2020December 18, 2020December 17, 2020December 16, 2020December 15, 2020December 14, 2020December 13, 2020December 12, 2020December 11, 2020December 10, 2020December 9, 2020December 8, 2020December 7, 2020December 5, 2020December 4, 2020December 3, 2020December 2, 2020December 1, 2020November 30, 2020November 29, 2020November 27, 2020November 26, 2020November 25, 2020November 24, 2020November 23, 2020November 22, 2020November 20, 2020November 19, 2020November 18, 2020November 17, 2020November 16, 2020November 15, 2020November 14, 2020November 13, 2020November 12, 2020November 11, 2020November 10, 2020November 6, 2020November 5, 2020November 4, 2020November 3, 2020November 2, 2020November 1, 2020October 31, 2020October 30, 2020October 29, 2020October 28, 2020October 27, 2020October 26, 2020October 25, 2020October 24, 2020October 23, 2020October 22, 2020October 21, 2020October 20, 2020October 19, 2020October 18, 2020October 17, 2020October 16, 2020October 15, 2020October 14, 2020October 13, 2020October 12, 2020October 11, 2020October 9, 2020October 8, 2020October 7, 2020October 6, 2020October 5, 2020October 4, 2020October 3, 2020October 2, 2020October 1, 2020September 30, 2020September 29, 2020September 28, 2020September 27, 2020September 26, 2020September 25, 2020September 24, 2020September 23, 2020September 22, 2020September 21, 2020September 20, 2020September 19, 2020September 18, 2020September 17, 2020September 16, 2020September 15, 2020September 14, 2020September 11, 2020September 10, 2020September 9, 2020September 8, 2020September 7, 2020September 5, 2020September 4, 2020September 3, 2020September 2, 2020September 1, 2020August 31, 2020August 29, 2020August 28, 2020August 27, 2020August 26, 2020August 25, 2020August 24, 2020August 22, 2020August 21, 2020August 20, 2020August 19, 2020August 18, 2020August 17, 2020August 16, 2020August 15, 2020August 14, 2020August 13, 2020August 12, 2020August 11, 2020August 10, 2020August 8, 2020August 7, 2020August 6, 2020August 5, 2020August 4, 2020August 3, 2020August 2, 2020August 1, 2020July 31, 2020July 30, 2020July 29, 2020July 28, 2020July 26, 2020July 25, 2020July 24, 2020July 23, 2020July 22, 2020July 21, 2020July 19, 2020July 18, 2020July 17, 2020July 16, 2020July 15, 2020July 14, 2020July 11, 2020July 10, 2020July 9, 2020July 8, 2020July 7, 2020July 6, 2020July 5, 2020July 4, 2020July 3, 2020July 2, 2020July 1, 2020June 30, 2020June 28, 2020June 27, 2020June 26, 2020June 25, 2020June 24, 2020June 23, 2020June 22, 2020June 21, 2020June 20, 2020June 19, 2020June 18, 2020June 17, 2020June 16, 2020June 15, 2020June 13, 2020June 12, 2020June 11, 2020June 10, 2020June 8, 2020June 7, 2020June 6, 2020June 5, 2020June 4, 2020June 3, 2020June 2, 2020June 1, 2020May 31, 2020May 29, 2020May 28, 2020May 27, 2020May 26, 2020May 25, 2020May 24, 2020May 23, 2020May 22, 2020May 21, 2020May 20, 2020May 19, 2020May 18, 2020May 17, 2020May 16, 2020May 15, 2020May 14, 2020May 13, 2020May 12, 2020May 11, 2020May 9, 2020May 8, 2020May 7, 2020May 6, 2020May 5, 2020May 4, 2020May 3, 2020May 2, 2020May 1, 2020April 30, 2020April 29, 2020April 28, 2020April 27, 2020April 26, 2020April 25, 2020April 24, 2020April 23, 2020April 22, 2020April 21, 2020April 20, 2020April 18, 2020April 17, 2020April 16, 2020April 15, 2020April 14, 2020April 13, 2020April 11, 2020April 10, 2020April 9, 2020April 8, 2020April 7, 2020April 6, 2020April 5, 2020April 4, 2020April 3, 2020April 2, 2020April 1, 2020March 31, 2020March 29, 2020March 28, 2020March 27, 2020March 26, 2020March 25, 2020March 24, 2020March 23, 2020March 22, 2020March 21, 2020March 20, 2020March 19, 2020March 18, 2020March 17, 2020March 16, 2020March 15, 2020March 14, 2020March 13, 2020March 11, 2020March 10, 2020March 8, 2020March 6, 2020March 5, 2020March 4, 2020March 3, 2020March 2, 2020March 1, 2020February 28, 2020February 27, 2020February 26, 2020February 25, 2020February 23, 2020February 22, 2020February 21, 2020February 20, 2020February 17, 2020February 16, 2020February 15, 2020February 14, 2020February 13, 2020February 12, 2020February 11, 2020February 10, 2020February 9, 2020February 8, 2020February 7, 2020February 6, 2020February 5, 2020February 4, 2020February 3, 2020February 1, 2020January 31, 2020January 30, 2020January 29, 2020January 27, 2020January 26, 2020January 25, 2020January 24, 2020January 23, 2020January 22, 2020January 21, 2020January 20, 2020January 18, 2020January 17, 2020January 16, 2020January 15, 2020January 14, 2020January 13, 2020January 12, 2020January 10, 2020January 9, 2020January 8, 2020January 7, 2020January 4, 2020January 3, 2020January 2, 2020January 1, 2020December 31, 2019December 30, 2019December 28, 2019December 27, 2019December 26, 2019December 25, 2019December 24, 2019December 22, 2019December 21, 2019December 20, 2019December 19, 2019December 18, 2019December 17, 2019December 16, 2019December 15, 2019December 13, 2019December 12, 2019December 11, 2019December 10, 2019December 9, 2019December 8, 2019December 7, 2019December 6, 2019December 5, 2019December 4, 2019December 3, 2019December 2, 2019December 1, 2019November 30, 2019November 29, 2019November 28, 2019November 27, 2019November 26, 2019November 25, 2019November 24, 2019November 23, 2019November 22, 2019November 21, 2019November 20, 2019November 19, 2019November 17, 2019November 16, 2019November 15, 2019November 14, 2019November 13, 2019November 12, 2019November 11, 2019November 9, 2019November 8, 2019November 7, 2019November 6, 2019November 5, 2019November 4, 2019November 2, 2019November 1, 2019October 31, 2019October 30, 2019October 29, 2019October 28, 2019October 27, 2019October 26, 2019October 25, 2019October 24, 2019October 23, 2019October 22, 2019October 21, 2019October 19, 2019October 18, 2019October 17, 2019October 16, 2019October 15, 2019October 14, 2019October 13, 2019October 11, 2019October 10, 2019October 9, 2019October 8, 2019October 6, 2019October 5, 2019October 4, 2019October 3, 2019October 2, 2019October 1, 2019September 30, 2019September 28, 2019September 27, 2019September 26, 2019September 25, 2019September 24, 2019September 23, 2019September 22, 2019September 21, 2019September 20, 2019September 19, 2019September 18, 2019September 17, 2019September 15, 2019September 14, 2019September 13, 2019September 12, 2019September 10, 2019September 6, 2019September 5, 2019September 4, 2019September 1, 2019August 31, 2019August 30, 2019August 29, 2019August 28, 2019August 27, 2019August 26, 2019August 24, 2019August 23, 2019August 21, 2019August 20, 2019August 16, 2019August 15, 2019August 14, 2019August 13, 2019August 12, 2019August 9, 2019August 8, 2019August 7, 2019August 6, 2019August 5, 2019August 3, 2019August 2, 2019August 1, 2019July 31, 2019July 30, 2019July 29, 2019July 26, 2019July 25, 2019July 24, 2019July 21, 2019July 20, 2019July 19, 2019July 18, 2019July 17, 2019July 16, 2019July 15, 2019July 12, 2019July 11, 2019July 9, 2019July 6, 2019July 5, 2019July 4, 2019July 3, 2019July 2, 2019July 1, 2019June 30, 2019June 29, 2019June 28, 2019June 27, 2019June 26, 2019June 25, 2019June 24, 2019June 22, 2019June 21, 2019June 20, 2019June 19, 2019June 18, 2019June 16, 2019June 15, 2019June 14, 2019June 13, 2019June 12, 2019June 10, 2019June 7, 2019June 6, 2019June 5, 2019June 4, 2019June 3, 2019June 2, 2019June 1, 2019May 31, 2019May 30, 2019May 27, 2019May 24, 2019May 23, 2019May 22, 2019May 21, 2019May 20, 2019May 17, 2019May 16, 2019May 15, 2019May 14, 2019May 13, 2019May 12, 2019May 11, 2019May 10, 2019May 9, 2019May 8, 2019May 7, 2019May 6, 2019May 3, 2019May 2, 2019May 1, 2019April 30, 2019April 29, 2019April 28, 2019April 26, 2019April 25, 2019April 20, 2019April 19, 2019April 17, 2019April 16, 2019April 15, 2019April 14, 2019April 13, 2019April 12, 2019April 11, 2019April 10, 2019April 8, 2019April 7, 2019April 5, 2019April 4, 2019April 3, 2019April 2, 2019April 1, 2019March 31, 2019March 30, 2019March 29, 2019March 28, 2019March 27, 2019March 26, 2019March 25, 2019March 24, 2019March 23, 2019March 22, 2019March 21, 2019March 20, 2019March 19, 2019March 17, 2019March 15, 2019March 14, 2019March 13, 2019March 12, 2019March 11, 2019March 10, 2019March 8, 2019March 7, 2019March 6, 2019March 5, 2019March 4, 2019March 2, 2019March 1, 2019February 28, 2019February 27, 2019February 26, 2019February 25, 2019February 23, 2019February 22, 2019February 21, 2019February 20, 2019February 17, 2019February 16, 2019February 15, 2019February 14, 2019February 12, 2019February 9, 2019February 8, 2019February 7, 2019February 5, 2019February 3, 2019February 2, 2019February 1, 2019January 31, 2019January 30, 2019January 29, 2019January 28, 2019January 27, 2019January 26, 2019January 25, 2019January 24, 2019January 23, 2019January 18, 2019January 15, 2019January 14, 2019January 13, 2019January 11, 2019January 10, 2019January 9, 2019January 7, 2019January 5, 2019January 4, 2019January 2, 2019January 1, 2019December 31, 2018December 30, 2018December 29, 2018December 28, 2018December 24, 2018December 23, 2018December 22, 2018December 21, 2018December 20, 2018December 19, 2018December 18, 2018December 17, 2018December 16, 2018December 15, 2018December 14, 2018December 12, 2018December 11, 2018December 7, 2018December 4, 2018December 3, 2018December 2, 2018December 1, 2018November 30, 2018November 27, 2018November 25, 2018November 23, 2018November 22, 2018November 21, 2018November 20, 2018November 18, 2018November 17, 2018November 16, 2018November 15, 2018November 13, 2018November 10, 2018November 9, 2018November 8, 2018November 7, 2018November 5, 2018November 3, 2018November 2, 2018November 1, 2018October 31, 2018October 30, 2018October 27, 2018October 26, 2018October 25, 2018October 24, 2018October 23, 2018October 20, 2018October 19, 2018October 18, 2018October 17, 2018October 16, 2018October 15, 2018October 13, 2018October 12, 2018October 11, 2018October 10, 2018October 9, 2018October 8, 2018October 6, 2018October 5, 2018October 4, 2018October 3, 2018October 2, 2018October 1, 2018September 30, 2018September 29, 2018September 28, 2018September 22, 2018September 21, 2018September 20, 2018September 19, 2018September 15, 2018September 14, 2018September 13, 2018September 12, 2018September 11, 2018September 9, 2018September 8, 2018September 7, 2018September 6, 2018September 3, 2018September 2, 2018September 1, 2018August 31, 2018August 28, 2018August 27, 2018August 25, 2018August 24, 2018August 21, 2018August 17, 2018August 16, 2018August 15, 2018August 10, 2018August 9, 2018August 8, 2018August 5, 2018August 4, 2018August 3, 2018August 2, 2018August 1, 2018July 30, 2018July 28, 2018July 27, 2018July 25, 2018July 24, 2018July 20, 2018July 19, 2018July 18, 2018July 15, 2018July 14, 2018July 13, 2018July 11, 2018July 10, 2018July 8, 2018July 6, 2018July 4, 2018July 3, 2018July 2, 2018July 1, 2018June 30, 2018June 29, 2018June 26, 2018June 25, 2018June 24, 2018June 23, 2018June 22, 2018June 19, 2018June 18, 2018June 15, 2018June 8, 2018June 7, 2018June 2, 2018June 1, 2018May 30, 2018May 29, 2018May 27, 2018May 26, 2018May 25, 2018May 22, 2018May 18, 2018May 17, 2018May 16, 2018May 15, 2018May 13, 2018May 12, 2018May 11, 2018May 8, 2018May 7, 2018May 5, 2018May 4, 2018May 3, 2018May 2, 2018May 1, 2018April 30, 2018April 27, 2018April 26, 2018April 25, 2018April 24, 2018April 20, 2018April 19, 2018April 17, 2018April 15, 2018April 13, 2018April 12, 2018April 10, 2018April 9, 2018April 6, 2018April 5, 2018April 3, 2018April 2, 2018April 1, 2018March 31, 2018March 30, 2018March 27, 2018March 26, 2018March 23, 2018March 20, 2018March 16, 2018March 15, 2018March 14, 2018March 13, 2018March 9, 2018March 8, 2018March 7, 2018March 6, 2018March 4, 2018March 2, 2018March 1, 2018February 28, 2018February 27, 2018February 25, 2018February 23, 2018February 22, 2018February 21, 2018February 20, 2018February 19, 2018February 16, 2018February 15, 2018February 14, 2018February 9, 2018February 6, 2018February 5, 2018February 2, 2018February 1, 2018January 31, 2018January 30, 2018January 29, 2018January 26, 2018January 25, 2018January 24, 2018January 23, 2018January 22, 2018January 20, 2018January 19, 2018January 18, 2018January 17, 2018January 16, 2018January 15, 2018January 12, 2018January 10, 2018January 9, 2018January 8, 2018January 6, 2018January 5, 2018January 2, 2018January 1, 2018December 31, 2017December 30, 2017December 29, 2017December 27, 2017December 26, 2017December 25, 2017December 23, 2017December 22, 2017December 21, 2017December 20, 2017December 19, 2017December 18, 2017December 15, 2017December 14, 2017December 12, 2017December 11, 2017December 8, 2017December 7, 2017December 6, 2017December 5, 2017December 2, 2017December 1, 2017November 30, 2017November 27, 2017November 24, 2017November 23, 2017November 22, 2017November 21, 2017November 17, 2017November 15, 2017November 14, 2017November 11, 2017November 10, 2017November 7, 2017November 6, 2017November 5, 2017November 3, 2017November 1, 2017October 31, 2017October 30, 2017October 28, 2017October 27, 2017October 26, 2017October 25, 2017October 24, 2017October 20, 2017October 19, 2017October 17, 2017October 16, 2017October 15, 2017October 13, 2017October 12, 2017October 10, 2017October 6, 2017October 3, 2017October 1, 2017September 30, 2017September 29, 2017September 27, 2017September 26, 2017September 25, 2017September 24, 2017September 22, 2017September 19, 2017September 18, 2017September 15, 2017September 13, 2017September 12, 2017September 8, 2017September 5, 2017September 4, 2017September 1, 2017August 29, 2017August 26, 2017August 25, 2017August 22, 2017August 18, 2017August 15, 2017August 14, 2017August 12, 2017August 11, 2017August 10, 2017August 7, 2017August 6, 2017August 5, 2017August 4, 2017August 3, 2017August 1, 2017July 28, 2017July 25, 2017July 24, 2017July 18, 2017July 17, 2017July 15, 2017July 14, 2017July 13, 2017July 7, 2017July 1, 2017June 30, 2017June 28, 2017June 27, 2017June 26, 2017June 23, 2017June 21, 2017June 20, 2017June 16, 2017June 15, 2017June 13, 2017June 10, 2017June 9, 2017June 5, 2017June 3, 2017June 2, 2017June 1, 2017May 31, 2017May 30, 2017May 29, 2017May 26, 2017May 23, 2017May 19, 2017May 16, 2017May 15, 2017May 13, 2017May 12, 2017May 9, 2017May 5, 2017May 2, 2017May 1, 2017April 28, 2017April 27, 2017April 25, 2017April 22, 2017April 21, 2017April 18, 2017April 15, 2017April 14, 2017April 12, 2017April 11, 2017April 10, 2017April 7, 2017April 4, 2017April 1, 2017March 31, 2017March 28, 2017March 24, 2017March 21, 2017March 20, 2017March 18, 2017March 17, 2017March 16, 2017March 15, 2017March 14, 2017March 10, 2017March 7, 2017March 1, 2017February 28, 2017February 27, 2017February 26, 2017February 25, 2017February 24, 2017February 22, 2017February 21, 2017February 19, 2017February 17, 2017February 15, 2017February 14, 2017February 10, 2017February 7, 2017February 3, 2017February 1, 2017January 31, 2017January 29, 2017January 27, 2017January 25, 2017January 24, 2017January 23, 2017January 20, 2017January 17, 2017January 15, 2017January 13, 2017January 12, 2017January 10, 2017January 7, 2017January 6, 2017January 5, 2017January 4, 2017January 3, 2017January 1, 2017December 31, 2016December 30, 2016December 27, 2016December 23, 2016December 20, 2016December 16, 2016December 15, 2016December 13, 2016December 12, 2016December 11, 2016December 9, 2016December 8, 2016December 6, 2016December 5, 2016December 4, 2016December 3, 2016December 2, 2016December 1, 2016November 25, 2016November 22, 2016November 21, 2016November 19, 2016November 18, 2016November 17, 2016November 15, 2016November 11, 2016November 10, 2016November 9, 2016November 4, 2016November 1, 2016October 29, 2016October 28, 2016October 27, 2016October 21, 2016October 15, 2016October 14, 2016October 13, 2016October 12, 2016October 7, 2016October 4, 2016October 1, 2016September 30, 2016September 23, 2016September 19, 2016September 16, 2016September 15, 2016September 13, 2016September 9, 2016September 2, 2016September 1, 2016August 26, 2016August 19, 2016August 15, 2016August 11, 2016August 5, 2016August 2, 2016August 1, 2016July 29, 2016July 24, 2016July 15, 2016July 14, 2016July 6, 2016July 4, 2016July 1, 2016June 24, 2016June 18, 2016June 3, 2016June 2, 2016June 1, 2016May 27, 2016May 6, 2016April 29, 2016April 22, 2016April 15, 2016April 8, 2016April 1, 2016March 25, 2016March 18, 2016March 11, 2016March 1, 2016February 26, 2016February

In [15]:
#Stripping whitespace
df['date_added']=df['date_added'].astype(str).str.strip()

In [16]:
#Converting date into day,month,year
df["date_added"] = pd.to_datetime(
    df["date_added"],
    format="%B %d, %Y",
    errors="coerce"
)

In [17]:
df["date_added"].head()

0   2021-09-25
1   2021-09-24
2   2021-09-24
3   2021-09-24
4   2021-09-24
Name: date_added, dtype: datetime64[ns]

In [18]:
df["date_added"].dtype

dtype('<M8[ns]')

In [19]:
#seperate columns for day,mont,year
df["added_year"] = df["date_added"].dt.year
df["added_month"] = df["date_added"].dt.month
df["added_day"] = df["date_added"].dt.day

In [20]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,added_year,added_month,added_day
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",2021,9,25
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021,9,24
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2021,9,24
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",2021,9,24
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,2021,9,24

In [21]:
df.drop(columns=['date_added'])

,show_id,type,title,director,cast,country,release_year,rating,duration,listed_in,description,added_year,added_month,added_day
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",2021,9,25
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021,9,24
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2021,9,24
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",2021,9,24
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,2021,9,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",2019,11,20
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",2019,7,1
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,2019,11,1
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",2020,1,11
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019,3,2

2. FIXING show_id COLUMN

In [22]:
df['show_id'].dtype

dtype('O')

In [23]:
#Uniqeue values
df['show_id'].nunique()

8797

In [24]:
#Null values
df['show_id'].isna().sum()

0

In [25]:
#Duplicate values
df['show_id'].duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
8802    False
8803    False
8804    False
8805    False
8806    False
Name: show_id, Length: 8797, dtype: bool

In [26]:
len(df)

8797

show_id is a clean, unique identifier and required no cleaning.

3. CLEANING type COLUMN

In [27]:
df['type'].head(5)

0      Movie
1    TV Show
2    TV Show
3    TV Show
4    TV Show
Name: type, dtype: object

In [28]:
df['type'].nunique()

2

In [29]:
df['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

In [30]:
df['type'].isna().sum()

0

In [31]:
df['type'].value_counts(normalize=True)*100

Movie      69.694214
TV Show    30.305786
Name: type, dtype: float64

The type column contains two valid categories (Movie and TV Show) with no missing values. Minor string cleaning was applied to ensure consistency.

4. FIXING title COLUMN

In [32]:
df['title'].head(5)

0     Dick Johnson Is Dead
1            Blood & Water
2                Ganglands
3    Jailbirds New Orleans
4             Kota Factory
Name: title, dtype: object

In [33]:
df['title'].nunique()

8797

In [34]:
df['title'].duplicated().sum()

0

In [35]:
df['title'].isna().sum()

0

In [36]:
#Stripping whitespaces
df["title"] = df["title"].str.strip()

In [37]:
df["title"].head(20)

0                                  Dick Johnson Is Dead
1                                         Blood & Water
2                                             Ganglands
3                                 Jailbirds New Orleans
4                                          Kota Factory
5                                         Midnight Mass
6                      My Little Pony: A New Generation
7                                               Sankofa
8                         The Great British Baking Show
9                                          The Starling
10                  Vendetta: Truth, Lies and The Mafia
11                                     Bangkok Breaking
12                                         Je Suis Karl
13                     Confessions of an Invisible Girl
14                      Crime Stories: India Detectives
15                                    Dear White People
16    Europe's Most Dangerous Man: Otto Skorzeny in ...
17                                      Falsa identidad
18                                            Intrusion
19                                               Jaguar
Name: title, dtype: object

5. FIXING director COLUMN

In [38]:
df['director'].head()

0    Kirsten Johnson
1                NaN
2    Julien Leclercq
3                NaN
4                NaN
Name: director, dtype: object

In [39]:
df['director'].nunique()

4528

In [40]:
df['director'].isna().sum()

2624

In [41]:
df['director'].duplicated().sum()

4268

In [42]:
df["director"].dropna().head(10)

0                   Kirsten Johnson
2                   Julien Leclercq
5                     Mike Flanagan
6     Robert Cullen, JosÃ© Luis Ucha
7                      Haile Gerima
8                   Andy Devonshire
9                    Theodore Melfi
11                Kongkiat Komesiri
12              Christian Schwochow
13                    Bruno Garotti
Name: director, dtype: object

In [43]:
df["director"].str.strip()

0       Kirsten Johnson
1                   NaN
2       Julien Leclercq
3                   NaN
4                   NaN
             ...
8802      David Fincher
8803                NaN
8804    Ruben Fleischer
8805       Peter Hewitt
8806        Mozez Singh
Name: director, Length: 8797, dtype: object

In [44]:
df["director"].value_counts().head(10)

Rajiv Chilaka             19
RaÃºl Campos, Jan Suter    18
Marcus Raboy              16
Suhas Kadav               16
Jay Karas                 14
Cathy Garcia-Molina       13
Martin Scorsese           12
Youssef Chahine           12
Jay Chapman               12
Steven Spielberg          11
Name: director, dtype: int64

6. FIXING cast COLUMN

In [45]:
df['cast'].head()

0                                                  NaN
1    Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2    Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                  NaN
4    Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
Name: cast, dtype: object

In [46]:
df['cast'].isna().sum()

825

In [47]:
df['cast'].value_counts().head(10)

David Attenborough                                                                                                        19
Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jigna Bhardwaj, Rajesh Kava, Mousam, Swapnil                                   14
Samuel West                                                                                                               10
Jeff Dunham                                                                                                                7
Kevin Hart                                                                                                                 6
Craig Sechler                                                                                                              6
Michela Luci, Jamie Watson, Eric Peterson, Anna Claire Bartlam, Nicolas Aqui, Cory Doran, Julie Lemieux, Derek McGrath     6
David Spade, London Hughes, Fortune Feimster                                                                               6
Jim Gaffigan                                                                                                               5
Bill Burr                                                                                                                  5
Name: cast, dtype: int64

In [48]:
df['cast'].str.strip()

0                                                     NaN
1       Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2       Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                     NaN
4       Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
                              ...
8802    Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8803                                                  NaN
8804    Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805    Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806    Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
Name: cast, Length: 8797, dtype: object

7. FIXING country COLUMN

In [49]:
df['country'].head(10)

0                                        United States
1                                         South Africa
2                                                  NaN
3                                                  NaN
4                                                India
5                                                  NaN
6                                                  NaN
7    United States, Ghana, Burkina Faso, United Kin...
8                                       United Kingdom
9                                        United States
Name: country, dtype: object

In [51]:
df['country'].nunique()

748

In [52]:
df['country'].str.strip()

0       United States
1        South Africa
2                 NaN
3                 NaN
4               India
            ...
8802    United States
8803              NaN
8804    United States
8805    United States
8806            India
Name: country, Length: 8797, dtype: object

In [54]:
df['country'].duplicated().sum()

8048

In [55]:
df['country'].isna().sum()

830

In [56]:
df["country"].dropna().head(10)

0                                         United States
1                                          South Africa
4                                                 India
7     United States, Ghana, Burkina Faso, United Kin...
8                                        United Kingdom
9                                         United States
12                              Germany, Czech Republic
15                                        United States
17                                               Mexico
21                                               Turkey
Name: country, dtype: object

In [58]:
df["country"].value_counts().head(10)

United States     2812
India              972
United Kingdom     418
Japan              244
South Korea        199
Canada             181
Spain              145
France             124
Mexico             110
Egypt              106
Name: country, dtype: int64

7. FIXING release_year COLUMN

In [59]:
df['release_year'].head()

0    2020
1    2021
2    2021
3    2021
4    2021
Name: release_year, dtype: int64

In [67]:
df['release_year'].dtype

dtype('int64')

In [60]:
df['release_year'].nunique()

74

In [62]:
df['release_year'].dropna().head()

0    2020
1    2021
2    2021
3    2021
4    2021
Name: release_year, dtype: int64

In [64]:
df['release_year'].value_counts().head(20)

2018    1146
2017    1032
2019    1030
2020     953
2016     901
2021     592
2015     558
2014     352
2013     287
2012     236
2010     193
2011     185
2009     152
2008     135
2006      96
2007      88
2005      80
2004      64
2003      59
2002      51
Name: release_year, dtype: int64

In [65]:
df['release_year'].isna().sum()

0

In [66]:
df['release_year'].describe()

count    8797.000000
mean     2014.183472
std         8.822191
min      1925.000000
25%      2013.000000
50%      2017.000000
75%      2019.000000
max      2021.000000
Name: release_year, dtype: float64

8. FIXING rating COLUMN

In [68]:
df['rating'].head()

0    PG-13
1    TV-MA
2    TV-MA
3    TV-MA
4    TV-MA
Name: rating, dtype: object

In [69]:
df['rating'].nunique()

17

In [73]:
df['rating'].value_counts().head(20)

TV-MA       3205
TV-14       2157
TV-PG        861
R            799
PG-13        490
TV-Y7        333
TV-Y         306
PG           287
TV-G         220
NR            79
G             41
TV-Y7-FV       6
NC-17          3
UR             3
74 min         1
84 min         1
66 min         1
Name: rating, dtype: int64

In [71]:
df['rating'].isna().sum()

4

In [72]:
df['rating'].str.strip()

0       PG-13
1       TV-MA
2       TV-MA
3       TV-MA
4       TV-MA
        ...
8802        R
8803    TV-Y7
8804        R
8805       PG
8806    TV-14
Name: rating, Length: 8797, dtype: object

In [76]:
df[df["rating"].str.contains(r"\d", na=False)][["rating"]].head(10)

   rating
0   PG-13
8   TV-14
9   PG-13
18  TV-14
20  TV-14
21  TV-14
24  TV-14
25  TV-14
27  PG-13
28  PG-13

In [77]:
#Fixing values like 77 mins, 90 mins to NaN values
df[df["rating"].str.contains(r"min|Season", case=False, na=False)][["rating"]].head(10)

      rating
5541  74 min
5794  84 min
5813  66 min

In [79]:
df.loc[
    df["rating"].str.contains(r"min|Season", case=False, na=False),
    "rating"
] = np.nan

In [81]:
df["rating"] = df["rating"].str.strip()

In [82]:
#Verification
df["rating"].value_counts()

TV-MA       3205
TV-14       2157
TV-PG        861
R            799
PG-13        490
TV-Y7        333
TV-Y         306
PG           287
TV-G         220
NR            79
G             41
TV-Y7-FV       6
NC-17          3
UR             3
Name: rating, dtype: int64

In [83]:
df["rating"].isna().sum()

7

9. FIXING duration COLUMN

In [84]:
df['duration'].head()

0       90 min
1    2 Seasons
2     1 Season
3     1 Season
4    2 Seasons
Name: duration, dtype: object

In [86]:
df['duration'].isna().sum()

3

In [87]:
df['duration'].value_counts()

1 Season     1793
2 Seasons     421
3 Seasons     198
90 min        152
94 min        146
             ...
16 min          1
186 min         1
193 min         1
189 min         1
191 min         1
Name: duration, Length: 220, dtype: int64

In [88]:
df['duration'].str.strip()

0          90 min
1       2 Seasons
2        1 Season
3        1 Season
4       2 Seasons
          ...
8802      158 min
8803    2 Seasons
8804       88 min
8805       88 min
8806      111 min
Name: duration, Length: 8797, dtype: object

In [89]:
#We will split seasons and mins into seperate columns.
df['duration_mins'] = df['duration'].str.extract(r"(\d+)").astype(float)
df['dration_seasons']=df['duration'].str.extract(r"(min|Season|Seasons)", expand=False)

In [93]:
df = df.rename(columns={"duration_mins": "duration_value"})
df = df.rename(columns={"dration_seasons": "duration_unit"})

In [95]:
df["duration_unit"] = df["duration_unit"].replace(
    {"Seasons": "Season"}
)

In [96]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,added_year,added_month,added_day,duration_value,duration_unit
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",2021,9,25,90.0,min
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021,9,24,2.0,Season
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2021,9,24,1.0,Season
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",2021,9,24,1.0,Season
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,2021,9,24,2.0,Season

In [105]:
#Drop duration column
df = df.drop(columns=["duration"])

10. FIXING listed_in COLUMN

In [97]:
df['listed_in'].head()

0                                        Documentaries
1      International TV Shows, TV Dramas, TV Mysteries
2    Crime TV Shows, International TV Shows, TV Act...
3                               Docuseries, Reality TV
4    International TV Shows, Romantic TV Shows, TV ...
Name: listed_in, dtype: object

In [98]:
df['listed_in'].isna().sum()

0

In [99]:
df['listed_in'].value_counts()

Dramas, International Movies                                   362
Documentaries                                                  359
Stand-Up Comedy                                                334
Comedies, Dramas, International Movies                         274
Dramas, Independent Movies, International Movies               252
                                                              ...
Crime TV Shows, International TV Shows, TV Sci-Fi & Fantasy      1
International TV Shows, TV Horror, TV Sci-Fi & Fantasy           1
Crime TV Shows, Kids' TV                                         1
Horror Movies, International Movies, Sci-Fi & Fantasy            1
Cult Movies, Dramas, Thrillers                                   1
Name: listed_in, Length: 513, dtype: int64

In [100]:
df['listed_in'].str.strip()

0                                           Documentaries
1         International TV Shows, TV Dramas, TV Mysteries
2       Crime TV Shows, International TV Shows, TV Act...
3                                  Docuseries, Reality TV
4       International TV Shows, Romantic TV Shows, TV ...
                              ...
8802                       Cult Movies, Dramas, Thrillers
8803               Kids' TV, Korean TV Shows, TV Comedies
8804                              Comedies, Horror Movies
8805                   Children & Family Movies, Comedies
8806       Dramas, International Movies, Music & Musicals
Name: listed_in, Length: 8797, dtype: object

In [101]:
df["listed_in"] = df["listed_in"].str.replace(r"\s*,\s*", ", ", regex=True)

11. FIXING description COLUMN

In [103]:
df["description"].head(3)

0    As her father nears the end of his life, filmm...
1    After crossing paths at a party, a Cape Town t...
2    To protect his family from a powerful drug lor...
Name: description, dtype: object

In [102]:
df["description"].isna().sum()

0

In [104]:
df["description"] = df["description"].str.strip()

In [107]:
#Final CLEANED dataset
df.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,added_year,added_month,added_day,duration_value,duration_unit
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,Documentaries,"As her father nears the end of his life, filmm...",2021,9,25,90.0,min
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021,9,24,2.0,Season
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2021,9,24,1.0,Season
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",2021,9,24,1.0,Season
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,2021,9,24,2.0,Season
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,2021-09-24,2021,TV-MA,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...,2021,9,24,1.0,Season
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, JosÃ© Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,2021-09-24,2021,PG,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,2021,9,24,91.0,min
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",2021-09-24,1993,TV-MA,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",2021,9,24,125.0,min
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,2021-09-24,2021,TV-14,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,2021,9,24,9.0,Season
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021-09-24,2021,PG-13,"Comedies, Dramas",A woman adjusting to life after a loss contend...,2021,9,24,104.0,min